<!--<tr>-->
<!--  <td class="dataset">-->
<!--    <span class="info">Job <%= dataset.jobid %></span>-->
<!--    <span class="timestamp">-->
<!--      posted <%= time_ago_in_words(dataset.created_at) %> ago.-->
<!--    </span>-->
<!--  </td>-->
<!--</tr>-->

<!--<tr>-->
<!--  <th>Job ID </th>-->
<!--  <th>Cell Type </th>-->
<!--  <th>Factor </th>-->
<!--  <th>Replicate </th>-->
<!--  <th>User </th>-->
<!--</tr>-->
<tr>
  <td class="dataset"
    <span class="stuff" ><%= dataset.jobid %> </span>
  </td>
  <td class="dataset"
    <span class="stuff" ><%= dataset.person %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.sample %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.replicate %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.cellType %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.factor %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.numReads %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.mappedReads %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.unmappedReads %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.averageCPL %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.medianCPL %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.minCPL %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.maxCPL %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.aligner %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.system %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.alignParams %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.refGenome %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.files %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.sequencer %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.barcode %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.dateDone %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.dateRec %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.lanes %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.comments %> </span>
  </td>
  <td class="dataset"
    <span class="stuff"><%= dataset.otherInfo %> </span>
  </td> 
  <td>
    <%= link_to "delete", dataset, :method => :delete,
                                     :confirm => "Are you sure?",
                                     :title => dataset.jobid %>
  </td>
</tr>