<h1><%= @dataset.jobid %></h1>
<p>
  <%= render '/shared/dataset_pre_header' %>
</p>
<div class="datasetTable" style = "overflow-x:auto">  
  <table class="profile" summary="One dataset">
    <%= render '/shared/dataset_headers' %>
    <%= render @dataset %>
  </table>
</div>

<% unless @dataset.messages.empty? %>
  <table class="datasetTable" summary="Dataset messages">
    <%= render @messages %>
  </table>
<% end %>

<p>
  <%= form_for @messages do |f| %>
    <%= render 'shared/error_messages', :comment => f.object %>
    <div class="field">
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

</p>

