<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>: <%= @user.datasets.count %> dataset(s)
      </h1>
      <p>
        <%= @user.blurb %>
      </p>
      <hr>
      <% unless @user.datasets.empty? %>
        <div class="datasetTable" style = "overflow-x:auto">  
          <table class="profile" summary="User datasets">
            <%= render '/shared/dataset_headers' %>
            <%= render @user.datasets.order(sort_column + " " + sort_direction).search(params[:search]) %>
          </table>
        </div>
      <% end %>
    </td>
  </tr>
</table>